@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swa');

body, #desktop {
    cursor: url('mouse.png') 0 0, auto;
}

button,
.windowBttns,
.handle,
button:hover, 
button:focus, 
button:active, 
.dock_icon:hover, 
.dock_icon:active, 
#desktopApps div:hover {
    cursor: url('mouse2.png') 6 0, pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Space Mono", monospace;
    background-image: url("wp10521277-miata-na-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.welcome {
    background-color: #e5e5e5;
    border: solid;
    width: 50%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    padding-top: 0;
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.125);
    color: #fff;
}

p {
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgba(229, 229, 229, 0.25);
    padding: 4px 12px;
    border-radius: 16px;
    filter: none;
}

.welcomecontent {
    padding: 15px;
    padding-top: 0;
}

.handle {
    height: 20px;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    background: #AAAAAA;
    border-radius: 12px 12px 0 0;
    display: flex;
    gap: 8px;
    align-items: center;
}

.windowBttns {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
}

.notes {
    top: calc(50% - 240px);
    left: calc(50% - 260px);
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    background-color: #e5e5e5;
    border: solid;
    border-radius: 15px;
}

.notescontent {
    border-radius: 12px;
    width: 520px;
    height: 480px;
    padding: 16px;
}

.music_player {
    top: calc(100px);
    left: calc(100% - 600px);
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    background-color: #e5e5e5;
    border: solid;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.25);
}

.music_playercontent {
    border-radius: 12px;
    width: 520px;
    height: 480px;
    padding: 16px;
    background-color: none;

}

.music_playercontent {
    border-radius: 12px;
    width: 520px;
    height: 480px;
    padding: 12px;     
    background-color: none;
    display: flex;
    flex-direction: column;
}

.music_playercontent iframe {
    flex-grow: 1;
}

.game_corner {
    top: calc(75px);
    left: calc(50px);
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    background-color: #e5e5e5;
    border: solid;
    border-radius: 15px;
}

.game_cornercontent {
    border-radius: 12px;
    width: auto;
    height: auto;
    padding: 16px;
}

.game_corner_icons {
    display: flex;
}

#game_cornerclose {
    background-color: red;
}

.clock {
    top: calc(50% - 240px);
    left: calc(50% - 260px);
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    background-color: #e5e5e5;
    border: solid;
    border-radius: 15px;
}

.clockcontent {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 12px;
    width: auto;
    height: auto;
    padding: 16px;
}

.search {
    top: calc(50% - 240px);
    left: calc(50% - 260px);
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    background-color: #e5e5e5;
    border: solid;
    border-radius: 15px;
}

.searchcontent {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 12px;
    width: auto;
    height: auto;
    padding: 16px;
}

.search_bar {
    background-color: #c4c4c4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#searchInput {
    border: none;
    background: none;
    color: inherit;
}

input {
    font-family: "Space Mono", monospace;
    color: black;
}

#searchButton {
    border: none;
    background: none;
}

#welcomeopen {
    font-family: inherit;
    all: unset;
    margin-left: 16px;
    margin-right: 16px;
    padding: 4px 12px;
    background-color: rgba(229, 229, 229, 0.25);
    border-radius: 16px;
}

#desktopApps {
    position: fixed;
    display: flex;
    gap: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.125);
    height: 70px;
}

.selected {
    display: inline-flex;
    vertical-align: middle;
    border-radius: 6px;
    outline: 2px solid white;
    outline-offset: 0;
}

.welcome.active-window, .notes.active-window, .clock.active-window, .game_corner.active-window, .music_player.active-window, .search.active-window {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
    outline: 1px solid rgba(0, 0, 0, 0.8);
}
